package ${package_name}.respository.impl4mybatis;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;

import ${package_name}.respository.${model}Dao;
import ${package_name}.respository.impl4mybatis.mapper.${model}Mapper;

/**
* ${model}Dao接口实现
* @date ${ctime}
*/
@Component
public class ${model}DaoImpl implements ${model}Dao{
private static final Logger logger = LoggerFactory.getLogger(${model}DaoImpl.class);
  @Autowired
  private ${model}Mapper ${modelAlias}Mapper;

}